<div class="header-container">
  <md-toolbar>
    <span>{{ title }}</span>
    <span class="fill-remaining-space"></span>
    <span>
      <i [mdMenuTriggerFor]="menu" class="material-icons">pageview</i>
      <md-menu #menu="mdMenu">
        <button md-menu-item>Home</button>
        <button md-menu-item>Contact Us</button>
      </md-menu>
    </span>
  </md-toolbar>
</div>
<div class="nav-container">
</div>
<div class="tabs-container">
  <md-tab-group>
    <md-tab class="mat-display-1" label="Company">
      <div class="tab-text">
        In in leo euismod, dapibus odio a, accumsan justo. Sed lobortis fermentum pharetra. Aliquam a risus lorem. Nunc elementum justo hendrerit, dapibus massa at, suscipit nunc. Duis nec justo sit amet est luctus facilisis. Nunc vulputate ac dui ut pharetra. Pellentesque nec sapien metus.
      </div>
    </md-tab>
    <md-tab class="mat-display-1" label="Products">
      <div class="tab-text">
        Aliquam porta metus nec augue auctor, eu facilisis ante ultricies. Mauris nec lectus ut magna maximus posuere vehicula vitae turpis. Praesent vestibulum arcu vitae erat egestas, ut facilisis ligula tristique. Donec eleifend tempor turpis, vitae venenatis lacus sagittis at. Aenean justo est, cursus tristique arcu sit amet, ullamcorper posuere nisl. Suspendisse porta nec risus quis placerat. Donec venenatis faucibus urna, eget tempor lorem vestibulum a. Sed ac lorem tempor, venenatis leo ac, porta ipsum. Ut facilisis in sapien eget volutpat. Etiam molestie, ante non vulputate semper, lectus orci mattis purus, a facilisis ipsum quam tincidunt sapien. Nulla ac tortor augue. Ut at tortor elit.
      </div>
    </md-tab>
  </md-tab-group>
</div>
