.tab-text {
    margin-top: 6px;
    width: 50%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

span i {
    font-size: 48px;
}

form .mat-input-container {
    display: block;
    width: 30%;
}
