<h1 class="mat-h1">Contact Us</h1>
<form>
    <md-input-container>
        <input mdInput required name="name"
            placeholder="Name" type="text"
            (keyup)="validate()"
            [(ngModel)]="form.name">
    </md-input-container>
    <md-input-container>
        <input mdInput required name="message"
            placeholder="Message" type="text"
            (keyup)="validate()"
            [disabled]="!form.name"
            [(ngModel)]="form.message">
    </md-input-container>
    <label class="mat-subheading-1" for="form-count">Importance</label>
    <i (click)="decrease()" class="material-icons">remove</i>
    <span id="form-count">{{ form.count }}</span>
    <i (click)="increase()" class="material-icons">add</i>
    <button [disabled]="form.error" (click)="send()" md-button>Send</button>
</form>