<h1 class="mat-h1">Contact Us</h1>
<form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <md-input-container>
        <input mdInput required name="name"
            placeholder="Name" type="text"
            formControlName="name">
    </md-input-container>
    <md-input-container>
        <input mdInput required name="message"
            placeholder="Message" type="textarea"
            formControlName="message">
    </md-input-container>
    <label class="mat-subheading-1" for="form-count">Importance</label>
    <i (click)="decrement()" class="material-icons">remove</i>
    <span id="form-count">{{ form.get('importance').value }}</span>
    <i (click)="increment()" class="material-icons">add</i>
    <button [disabled]="form.invalid" type="submit" md-button>Send</button>
</form>